@import "~font-awesome/css/font-awesome.css";
@import "~sanitize.css/sanitize.css";
@import "~fixed-data-table/dist/fixed-data-table.min.css";
@import "~toastr/build/toastr.min.css";

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:rgba(236,240,241,1);
    display: flex;
    flex-direction: column;
  }

  #root {
    flex: 1;
  }

  p,
  label {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
  }

  ul {
    padding: 0;
  }

  button {
    padding:0;
    border:0;
  }